* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --universalPadding: 10px;
    --universalBorderRadius: 5px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px;
    padding: var(--universalPadding);
    border-radius: var(--universalBorderRadius);
    outline: 1px solid black;
    display: grid;
    gap: 20px;
}

.container .title {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.form {
    display: grid;
    gap: 10px;
}

.option-wrapper ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 10px;
}

.option-wrapper ul label {
    cursor: pointer;
    display: inherit;
    outline: 1px dashed black;
    padding: 5px var(--universalPadding);
}

.option-wrapper ul input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.option-wrapper ul input[type="radio"]:checked + label {
    /* efeknya ke label, bukan ke inputnya */
    background-color: darkgray;
    outline: none;
}

.option-wrapper ul label:hover {
    background-color: lightgray;
}

.form-input {
    display: inherit;
    gap: 6px;
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: var(--universalPadding);
}

.form-input .main-input {
    font-size: 0.9rem;
    width: 100%;
    padding: 5px var(--universalPadding);
}

.submit-button {
    padding: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 700;
}

#toast-notification {
    min-width: 250px;
    max-width: 350px;
    padding: 15px 20px;
    border-radius: var(--universalBorderRadius);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: #333;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
    transform: translateY(-50px);
    transition:
        opacity 0.4s ease-out,
        transform 0.4s ease-out,
        visibility 0.4s;
}

#toast-notification.toast-visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#toast-notification.toast-error {
    background-color: #dc3545;
}

#toast-notification.toast-success {
    background-color: #28a745;
}

#toast-message {
    margin: 0;
    font-size: 16px;
}
