<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Halaman Pesanan</title>
        <link rel="stylesheet" href="halamanPesanan/style.css" />
        <!--<script src="script.js" defer></script>-->
    </head>
    <body>
        <div class="container-card">
            <% for (let table of dataPesanan) { %>
            <div class="card">
                <!-- gambar dari server -->
                <div class="image_field"></div>
                <div class="text_field">
                    <!-- nama barang dari database -->
                    <h3 id="judul"><%= table.nama_barang %></h3>
                    <ul>
                        <!-- data harga barang dari database -->
                        <li>harga : <%= table.harga_barang %></li>
                        <!-- data total pesanan barang dari database -->
                        <li>total pesanan : <%= table.total_pesanan %></li>
                    </ul>
                </div>
            </div>
            <% } %>
        </div>
    </body>
</html>
