<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Halaman Pesanan</title>
        <link rel="stylesheet" href="halamanPesanan/style.css" />
        <!--<script src="script.js" defer></script>-->
    </head>
    <body>
        <div class="container-card">
            <div class="card">
                <div class="image_field"></div>
                <div class="text_field">
                    <h3 id="judul">Nama Barang</h3>
                    <ul>
                        <li>harga :</li>
                        <li>total pesanan :</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
