<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Who are you</title>
        <link rel="stylesheet" href="style.css" />
        <script src="script.js" defer></script>
    </head>
    <body>
        <div class="container">
            <h1 class="title">Selamat Datang!</h1>
            <form class="form">
                <div class="option-wrapper">
                    <ul>
                        <li>
                            <input
                                type="radio"
                                name="option"
                                value="login"
                                id="loginRadio"
                                checked
                            />
                            <label for="loginRadio"> Login </label>
                        </li>
                        <li>
                            <input
                                type="radio"
                                name="option"
                                value="signup"
                                id="signupRadio"
                            />
                            <label for="signupRadio"> Signup </label>
                        </li>
                    </ul>
                </div>
                <div class="form-input">
                    <input
                        type="text"
                        name="username"
                        id="username"
                        class="main-input"
                        placeholder="Username"
                    />
                    <input
                        type="password"
                        name="password"
                        id="password"
                        class="main-input"
                        placeholder="Password"
                    />
                    <!-- + password (konfirmasi) -->
                    <div id="input-affected"></div>
                </div>
                <!-- value Login / Sign Up -->
                <input
                    type="submit"
                    value="Login"
                    name="submit"
                    id="button-affected"
                    class="submit-button"
                />
            </form>
        </div>

        <form class="form1">
            <input
                type="text"
                name="username"
                id="username"
                placeholder="username"
            />
            <input
                type="password"
                name="password"
                id="password"
                placeholder="password"
            />
            <input type="submit" name="submit" />
        </form>
    </body>
</html>
