<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Front End</title>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
  </head>
  <body>

    <div class="container">
      <form id="form">
        <!-- input nama barang -->
        <label for="barang">Nama Barang : </label>
        <!--<input type="text" id="barang" />-->
        <select name="barang" id="barang">
          <option value="">-- Pilih --</option>

          <% for (let barang of data.requestDataBarang) { %>
            <option value="<%= barang.id_barang %>">
              <%= barang.nama_barang %>
            </option>
          <% } %>
        </select>

        <!-- input jumlah barang -->
        <label for="jumlah">Jumlah Barang : </label>
        <input type="number" id="jumlah" name="jumlah" value="0"/>

        <!-- input jenis pembayaran -->
        <label for="pembayaran">Pembayaran : </label>
        <!--<input type="text" id="pembayaran">-->
        <select name="pembayaran" id="pembayaran">
          <option value="">-- Pilih --</option>

          <% for (let bayar of data.requestDataPembayaran) {%>
            <option value="<%= bayar.id_pembayaran%>"><%= bayar.tipe%></option>
          <% } %>
        </select>

        <!-- input gambar bukti bayar (kalau bayar dengan transfer/qris) -->
        <div id="input-tambahan"></div>

        <div class="submit-button">
          <input type="submit" value="submit" />
        </div>
      </form>
    </div>

  </body>
</html>
